@font-face {
  font-weight: 700;
  font-family: "Noto Sans";
  font-style: normal;
  src: url("../fonts/notosans-bold.woff2") format("woff2"),
    url("../fonts/notosans-bold.woff") format("woff");
}
